In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge # assume all features are important in this regression

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# Choosing the ideal Algorithms

* algorithms are referred to as *estimators*
* classifier (clf) -> categorizing
* regressor ->  value

https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

<img src="ml_map.png" height="800px">

In [2]:
housing_data=pd.read_csv('ORL/housing.csv')  #from sklearn.datasets import california_housing
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [9]:
housing_data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
count,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.0
mean,-119.570689,35.633221,28.633094,2636.504233,537.870553,1424.946949,499.433465,3.871162,206864.413155,5.0
std,2.003578,2.136348,12.591805,2185.269567,421.385070,1133.208490,382.299226,1.899291,115435.667099,0.0
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000,5.0
25%,-121.800000,33.930000,18.000000,1450.000000,296.000000,787.000000,280.000000,2.563700,119500.000000,5.0
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.536500,179700.000000,5.0
75%,-118.010000,37.720000,37.000000,3143.000000,647.000000,1722.000000,604.000000,4.744000,264700.000000,5.0
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000,5.0

In [7]:
housing_data.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [8]:
for i in housing_data['ocean_proximity']:   
    if i == 'NEAR BAY':
        housing_data['ocean_proximity'].replace(i, 1, inplace=True)
    elif i == 'INLAND':
        housing_data['ocean_proximity'].replace(i, 2, inplace=True)
    elif i == 'NEAR OCEAN':
        housing_data['ocean_proximity'].replace(i, 3, inplace=True)
    elif i == 'ISLAND':
        housing_data['ocean_proximity'].replace(i, 4, inplace=True)
    else:
        housing_data['ocean_proximity'].replace(i, 5, inplace=True)
        
housing_data.dropna(inplace=True)

In [ ]:
np.random.seed(0)
x = housing_data.drop("median_house_value", axis=1)
y = housing_data["median_house_value"]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
model=Ridge()
model.fit(x_train,y_train)
model.score(x_test,y_test)   #coeff of determination

0.6414579030199539

https://www.investopedia.com/terms/c/coefficient-of-determination.asp

R-square/ COD -> asses how storing 2 variables (features / target) are related

In [ ]:
# try other models
from sklearn.svm import SVR
from sklearn.linear_model import Lasso
from sklearn.linear_model import BayesianRidge
from sklearn.neighbors import KNeighborsRegressor

model2 = SVR()
model2.fit(x_train, y_train)
model2.score(x_test, y_test)

-0.05830334201464127

In [ ]:
model3=Lasso()
model3.fit(x_train,y_train)
y_pred3=model3.predict(x_test)
model3.score(x_test,y_test)

0.6414572307400583

In [ ]:
model4=BayesianRidge()
model4.fit(x_train,y_train)
y_pred4=model4.predict(x_test)
model4.score(x_test,y_test)

0.6414645231396178

In [ ]:
model5 = KNeighborsRegressor(n_neighbors=9)
model5.fit(x_train, y_train)
y_pred5 = model5.predict(x_test)
model5.score(x_test, y_test)

0.3153316743086384

# for classification

In [ ]:
c= pd.read_csv("ORL/pokemon_data.csv")
c.head(5)
#predict if a Pokémon is legendary or not

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [ ]:
for i in c["Legendary"]:
    if i:
        c["Legendary"].replace(i,1,inplace=True)
    else:
        c["Legendary"].replace(i,0,inplace=True)

names=c["Name"]
c.to_csv("ORL/pokemon_data_clean.csv")
c.drop(["Name"],axis=1,inplace=True)
c.drop(["Type 1"],axis=1,inplace=True)
c.drop(["Type 2"],axis=1,inplace=True)

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier
np.random.seed(0)
cX = c.drop(['Legendary'], axis=1)
cY= c['Legendary']

cX_train, cX_test, cy_train, cy_test = train_test_split(cX, cY, test_size=0.2)

In [ ]:
cmodel =LinearSVC()
cmodel.fit(cX_train, cy_train)
cmodel.score(cX_test, cy_test)

c:\ProgramData\anaconda3\envs\tf\lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(
c:\ProgramData\anaconda3\envs\tf\lib\site-packages\sklearn\svm\_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

0.90625

In [ ]:
cmodel2=RandomForestClassifier(n_estimators=100)   # for tabular data use ensemble methods  otherwise use deep learning or transfer learning
cmodel2.fit(cX_train,cy_train)
cmodel2.score(cX_test,cy_test)

0.95

# ensemble models combine many base models to predict and output good results (at least on structure data)

### random forest combine multiple desicion trees and average or majority the output