In [52]:
import numpy as np
import pandas as pd

In [53]:
carSales=pd.read_csv('car-sales-extended.csv')
carSales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [54]:
x=carSales.drop("Price",axis=1)
y=carSales["Price"]

In [55]:
from sklearn.preprocessing import OneHotEncoder #turn categorical data into numerical data
from sklearn.compose import ColumnTransformer

catergorical = ["Make", "Colour"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                  one_hot,
                                  catergorical)], 
                                remainder="passthrough")

transformed_x = transformer.fit_transform(x)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        3.54310e+04, 4.00000e+00],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.92714e+05, 5.00000e+00],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        8.47140e+04, 4.00000e+00],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 4.00000e+00],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        2.15883e+05, 4.00000e+00],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 4.00000e+00]])

In [56]:
pd.DataFrame(transformed_x)
# color red is trnasformed to column 0,1,2 as 1,0,0 (red,green,blue)
#                                        blue 0,1,0 (red,green,blue)  
#                                       green 0,0,1 (red,green,blue)

      0    1    2    3    4    5    6    7    8         9    10
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   35431.0  4.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  192714.0  5.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   84714.0  4.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  154365.0  4.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  181577.0  3.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0   35820.0  4.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  155144.0  3.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0   66604.0  4.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  215883.0  4.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  248360.0  4.0

[1000 rows x 11 columns]

In [57]:
#alternativly
Rhe = pd.get_dummies(x)
Rhe

,Odometer (KM),Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,35431,4,0,1,0,0,0,0,0,0,1
1,192714,5,1,0,0,0,0,1,0,0,0
2,84714,4,0,1,0,0,0,0,0,0,1
3,154365,4,0,0,0,1,0,0,0,0,1
4,181577,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
995,35820,4,0,0,0,1,1,0,0,0,0
996,155144,3,0,0,1,0,0,0,0,0,1
997,66604,4,0,0,1,0,0,1,0,0,0
998,215883,4,0,1,0,0,0,0,0,0,1
999,248360,4,0,0,0,1,0,1,0,0,0

In [58]:
np.random.seed(0) #make sure results are reproducible
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
X_train, X_test, y_train, y_test = train_test_split(Rhe, y, test_size=0.2)

model = RandomForestRegressor(n_estimators=100)
model.fit(X_train, y_train);

In [59]:
model.score(X_test, y_test) # not enough parameters

0.34287114044460265

## dealing with missing values
#### fill with value(impute)
#### remove

In [60]:
#for i in data['text']:
#if i == '0':
#data.replace("i",number,inplace=True)


# or

#data.dropna(inplace=True)

In [61]:
dataM =pd.read_csv('car-sales-extended-missing-data.csv')
dataM.head(10)

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0
5   Honda    Red        42652.0    4.0  23883.0
6  Toyota   Blue       163453.0    4.0   8473.0
7   Honda  White            NaN    4.0  20306.0
8     NaN  White       130538.0    4.0   9374.0
9   Honda   Blue        51029.0    4.0  26683.0

In [62]:
dataM.isna().sum()  # returns the number of missing values in each column

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [63]:
dataM["Make"].fillna("unknown", inplace=True)
dataM["Colour"].fillna("unknown", inplace=True)
dataM["Odometer (KM)"].fillna(dataM["Odometer (KM)"].mean, inplace=True) # fill with average
dataM["Doors"].fillna(4, inplace=True) # 4 is the most common value

In [64]:
# remove with missing values as price is the target variable
dataM.dropna(inplace=True)

In [65]:
dataM.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [66]:
mX=dataM.drop(['Price'],axis=1)
mY=dataM['Price']

In [67]:
mRhe = pd.get_dummies(mX)

mX_train, mX_test, my_train, my_test = train_test_split(mRhe, mY, test_size=0.2)

model = RandomForestRegressor(n_estimators=100)
model.fit(mX_train, my_train);

# data can be modified using sklearn instead of pd also

In [68]:
sk_sales = pd.read_csv('car-sales-extended-missing-data.csv')
sk_sales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [69]:
sk_sales.dropna(subset=["Price"],inplace=True)  # drop rows without labels
sk_sales.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [70]:
skX=sk_sales.drop(['Price'],axis=1)
skY=sk_sales['Price']

In [71]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

cat_imputer = SimpleImputer(strategy="most_frequent", fill_value="missing")
num_imputer = SimpleImputer(strategy="mean")

cat_columns=["Make", "Colour", "Doors"]
num_columns=["Odometer (KM)"]

#create an imputer (something that fills missing data)
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_columns),
    ("num_imputer", num_imputer, num_columns)
])
#fill missing data
filled_X = imputer.fit_transform(skX)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [72]:
filled_df=pd.DataFrame(filled_X,columns=["Make","Colour","Doors","Odometer (KM)"])
filled_df.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [73]:
from sklearn.preprocessing import OneHotEncoder #turn categorical data into numerical data


catergorical = ["Make", "Colour"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                  one_hot,
                                  catergorical)], 
                                remainder="passthrough")

transformed_x = transformer.fit_transform(filled_df)
transformed_x

array([[0.0, 1.0, 0.0, ..., 1.0, 4.0, 35431.0],
       [1.0, 0.0, 0.0, ..., 0.0, 5.0, 192714.0],
       [0.0, 1.0, 0.0, ..., 1.0, 4.0, 84714.0],
       ...,
       [0.0, 0.0, 1.0, ..., 0.0, 4.0, 66604.0],
       [0.0, 1.0, 0.0, ..., 1.0, 4.0, 215883.0],
       [0.0, 0.0, 0.0, ..., 0.0, 4.0, 248360.0]], dtype=object)

In [74]:
np.random.seed(0)
X_train, X_test, y_train, y_test = train_test_split(transformed_x, skY,test_size=0.2)
skModel = RandomForestRegressor(n_estimators=100)
skModel.fit(X_train, y_train)
skModel.score(X_test, y_test)

0.15617045906508242